@model travel_agency_service.Models.ViewModels.PayViewModel

@{
    ViewData["Title"] = "Payment";
}
@{
    ViewData["Title"] = "Payment";
}

<div class="container mt-5" style="max-width:480px">
    <h4 class="mb-3 text-center">
        Total to pay: ₪@Model.TotalPrice
    </h4>

    <div id="payment-element"></div>

    <button id="payBtn" class="btn btn-success w-100 mt-3">
        Pay Now
    </button>

    <a class="btn btn-outline-secondary w-100 mt-2"
       href="@Url.Action("CancelPendingBooking", "Trips", new { bookingId = Model.BookingId })">
        Cancel Payment
    </a>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script>
    const stripe = Stripe("@Model.PublishableKey");

    const elements = stripe.elements({
        clientSecret: "@Model.ClientSecret"
    });

    const paymentElement = elements.create("payment");
    paymentElement.mount("#payment-element");

    document.getElementById("payBtn").onclick = async () => {
        const { error } = await stripe.confirmPayment({
            elements,
               confirmParams: {
        return_url: "@Model.ReturnUrl"
    }

        });

        if (error) {
            alert(error.message);
        }
    };
</script>
