@model int

<a class="nav-link position-relative" asp-controller="Cart" asp-action="Index">
    <img src="~/images/shopping-cart.png" class="cart-img" />

    @if (Model > 0)
    {
        <span class="cart-badge">
            @Model
        </span>
    }
</a>
